<div class="container"><br>

<hr>
</div>
<div class="container">
    <br>
    <div class="row">
       <br>
        <button class="btn btn-success" (click)="addTodo()">Click to Add New Patient</button>
    
    </div>
    <hr>
    <h2>Patient List</h2>
    <div class="alert alert-warning" *ngIf='message'>{{message}}</div>
    <div class="table-responsive-sm  overflow-y: hidden">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <!-- <th>Id</th> -->
                    <th>UHID</th>
                    <th>Name</th>
                    <th>Sample Status</th>
                    <th>Admission date</th>
                    <!-- <th>Action</th> -->
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let todo of todos">
                    <!-- <td>{{todo.sno}}</td> -->
                    <td>{{todo.uhid}}</td>
                    <td>{{todo.name}}</td>
                    <td>{{todo.samplestatus}}</td>
                    <td>{{todo.timeofadmission | date:'medium'}}</td>
                    <!-- <td><button class="btn btn-info" (click)="viewTodo(todo.patientId)">View</button></td>  -->
                    <td><button class="btn btn-warning" (click)="editTodo(todo.uhid)">View / Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
