<div class="container">
    <br>
    <hr>
<h2>Login Page</h2>
<br>
<div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
<div class="container">
    <form class="form-inline">
        <label for="email" class="mr-sm-2">User Name</label>
        <input type="email" class="form-control mb-2 mr-sm-2" name="username" [(ngModel)]="username">
        <label for="text" class="mr-sm-2">Password:</label>
        <input type="password" class="form-control mb-2 mr-sm-2" name="password" [(ngModel)]="password">
        <button type="submit" (click) = loginButton() class="btn btn-primary mb-2">Login</button>
      </form>
</div>
</div>


